/* THIS SECTION HAS BEEN RESERVED FOR GLOBAL CHANGES */
/* > 3.1 */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 20px;
  padding: 25px;
}

@media screen and (max-width: 600px) {
  body {
  padding-bottom: 200px; 
  overflow-x: hidden; 
  }
}

/* THIS SECTION HAS BEEN RESERVED FOR BODY */
.main {
  background-image: url('../images/background_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main h2 {
  text-align: center;
  color: white;
}

/* THIS SECTION HAS BEEN RESERVED FOR NAVIGATION BAR */
/* > 3.2 */
.topnav {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 15px;
  margin-bottom: 50px;
  justify-content: flex-start; /* > Keep items aligned to the left */
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  margin-left: 15px;
}

.topnav a:hover {
  background-color: #adadad;
  color: black;
}

.topnav a.active {
  background-color: #539cc3;
  color: white;
}

.group-name {
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}

/* > For screens smaller than 600px */
/* > 4.1 */
@media screen and (max-width: 600px) { 
  .topnav {
    flex-direction: column; 
    align-items: flex-start;
  }

  .topnav a {
    width: 100%; 
    padding: 10px 15px; 
    text-align: left; 
    font-size: 18px;
    margin: 5px 0; 
  }

  .group-name {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

/* THIS SECTION HAS BEEN RESERVED FOR BOX SECTIONS*/
.section {
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;               /* > Stack items vertically */
  justify-content: space-between;       /* > Push text to top and image to bottom */
  align-items: flex-start;              /* > Align text and image to the left */
  width: 590px;
  height: 160px;
  padding: 20px; 
  box-shadow: rgba(0, 0, 0, 0.415) 10px 10px;
}
.section2 {
  background-color: white;
  margin-left: 10px;
  display: flex;
  flex-direction: column;               /* > Stack items vertically */
  justify-content: space-between;       /* > Push text to top and image to bottom */
  align-items: flex-start;              /* > Align text and image to the left */
  width: 220px;
  height: 240px; 
  padding-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.415) 10px 10px;
}

@media screen and (max-width: 600px) {
  .section {
    width: 80%;
    height: auto;
  }

  .section p {
    font-size: 18px;
    padding: 10px; 
  }

}


/* THIS SECTION HAS BEEN RESERVED FOR IMAGE SECTIONS*/
.section_img {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.section_img img {
  width: 550px;
  height: 320px; 
  box-shadow: rgba(0, 0, 0, 0.415) 10px 10px;
}

@media screen and (max-width: 600px) {
  .section_img img {
    width: 100%;
    height: auto;
    max-width: 300px;
  }
}

/* THIS SECTION HAS BEEN RESERVED FOR BOTTOM BAR */
.bottomnav {
  display: flex;
  justify-content: space-between;         /* > Putting space to left and right */
  align-items: center;                    /* > Align vertically */
  background-color: #333;
  margin-top: 50px;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottomnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}

.bottomnav p {
  color: #f2f2f2;
  font-size: 12px;
}

.bottomnav a:hover {
  text-decoration-line: underline;
}

.group-name-bottom {
  color: white;
  font-weight: bold;
  font-size: 12px;
  margin-right: 20px;
}

@media screen and (max-width: 600px) { 
  .bottomnav {
    flex-direction: column;
    padding: 15px 10px;
  }

  .bottomnav div {
    align-items: center;
    width: 100%;
  }

  .bottomnav a {
    font-size: 14px;
    padding: 8px 0;
    width: 100%;
  }

  .group-name-bottom {
    font-size: 14px;
    margin-top: 10px;
  }

  h4 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: left;
  }


}
